:root {
  // prmary colors
  --primary-color: #5865f2;
  --secondary-color: #474a54;
  --warning-color: #ff3b3e;

  // nutral colors
  --white: #ffffff;
  --black: #000000;
  --text-color: #f0f0f0;

  // colors
  --white1: #f1f1f1;
  --white2: #b0b3b8;
  --green1: #00ff00;
  --gray1: #33373b;
  --gray2: #222222;
  --gray3: #7c7a75;
  --blue1: #607eaa;

  // background colors
  --background-color-dark1: #3b3e46;
  --background-color-dark2: #23262f;
  --background-color-dark3: #2f3238;

  --background-color-light1: #e0dcd3;

  // shadow color
  --shadow-color1: rgba(0, 0, 0, 0.2);
}
