.left-image-display {
  width: 50px !important;
  height: 50px !important;
  margin-left: -8px;
}

.right-image-display {
  width: 50px !important;
  height: 50px !important;
  margin-right: -8px;
}

.left-pdf-display {
  width: 50px !important;
  height: 50px !important;
  margin-left: -10px;
}

.right-pdf-display {
  width: 50px !important;
  height: 50px !important;
  margin-right: -10px;
}

.left-word-display {
  width: 50px !important;
  height: 50px !important;
  margin-left: -16px;
}

.right-word-display {
  width: 50px !important;
  height: 50px !important;
  margin-right: -16px;
}

.left-other-file-display {
  width: 50px !important;
  height: 50px !important;
  margin-left: -16px;
}

.right-other-file-display {
  width: 50px !important;
  height: 50px !important;
  margin-right: -16px;
}
