.settings {
  margin: 0 20px;
}

.header-btn,
.profile-icon {
  margin: 0.7em 1em;
  color: #fff;
}

.icon-settings {
  margin-right: 8px;
  font-size: 18px !important;
}

.item-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
