@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "colors";
@import "home";
@import "header";
@import "chat-bar";
@import "footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.username-input {
  padding: 10px;
  width: 50%;
}

.pointer {
  cursor: pointer;
}

.flex-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header header header header header"
    "menu main main main main main main main main main"
    "menu main main main main main main main main main"
    "menu footer footer footer footer footer footer footer footer footer ";
  grid-template-rows: auto 1fr auto; // Ensure the main content takes up the remaining space
  column-gap: 20px;
  row-gap: 10px;
  padding: 10px;
  height: 100vh;
}

.test2 {
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
}
